debug.log
error.log
database.php
app/tmp/cache/cake_toolbar_cache*
app/tmp/cache/models/myapp_cake*
app/tmp/cache/persistent/myapp_cake*
.project
.PHPEditProject
Opencomp.esproj/
app/webroot/files
.idea/
app/Vendor/pear-pear.cakephp.org/
app/Vendor/twbs
app/Vendor/composer
app/Vendor/dompdf
app/Vendor/phenx
app/Vendor/zendframework
app/Vendor/bin