debug.log
error.log
database.php
.project
.PHPEditProject
Opencomp.esproj
app/tmp/cache
Opencomp.esproj/user.jean.espressostorage
Opencomp.esproj/Project.espressostorage
Opencomp.esproj/user.jean.espressostorage
