/* Sticky footer styles
-------------------------------------------------- */

html,
body {
height: 100%;
/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
min-height: 100%;
height: auto !important;
height: 100%;
/* Negative indent footer by it's height */
margin: 0 auto -30px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
height: 30px;
}
#footer {
background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
#footer {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
}
}



/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
	padding-top: 60px;
}

.container .credit {
margin: 6px 0;
letter-spacing: 1px;
}

.normal-spacing {
	letter-spacing: normal;
}

code {
font-size: 80%;
}
 

body{
	font-size: 13px;
}

.btn-large{
	font-size: 15px;
}

h1, h2, h3 {
	line-height: 15px;
}

h3 {
	font-size: 20px;
}

h2 {
	font-size: 25px;
}

/* Style pour les titres de pages */
.page-title{
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#cacaca;
	margin-bottom : 25px;
	font-size: 0.8em;
}

.page-title > h2,h3 {
    font-family: 'Titillium Web', sans-serif;
}

/* Style pour positionner les boutons Call to action des titres de modules */
.ontitle{
	float:right;
	position: relative;
	top: -17px;
	margin-left:10px;
}

/* Surcharge de la classe success pour afficher en gras le texte des boutons */
a.btn-success {
	font-weight:bold;
}

.chosen-choices li.search-choice .search-choice-close {
    position: absolute;
    top: 4px;
    right: 3px;
    display: block;
    width: 12px;
    height: 12px;
    background: url(chosen-sprite.png) -50px 0px no-repeat;
    font-size: 1px;
}

.flash {
	text-shadow: 3px 1px 23px #ff0000;

	-webkit-animation-name: glow;
	-moz-animation-name: glow;
	-ms-animation-name: glow;
	-o-animation-name: glow;
	animation-name: glow;
	-webkit-animation-duration: 1100ms;

	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-ms-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
	animation-iteration-count: infinite;

	-webkit-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
	-ms-animation-timing-function: linear;
	-o-animation-timing-function: linear;
	animation-timing-function: linear;
}

@keyframes "glow" {
 0% {
    text-shadow: 3px 1px 23px #ffffff;
 }
 50% {
    text-shadow: 3px 1px 23px rgba(255,0,0,0.74);
 }
 100% {
    text-shadow: 3px 1px 23px #ff0000;
 }

}

@-moz-keyframes glow {
 0% {
   text-shadow: 3px 1px 23px #ffffff;
 }
 50% {
   text-shadow: 3px 1px 23px rgba(255,0,0,0.74);
 }
 100% {
   text-shadow: 3px 1px 23px #ff0000;
 }

}

@-webkit-keyframes "glow" {
 0% {
   text-shadow: 3px 1px 23px #ffffff;
 }
 50% {
   text-shadow: 3px 1px 23px rgba(255,0,0,0.74);
 }
 100% {
   text-shadow: 3px 1px 23px #ff0000;
 }

}

@-ms-keyframes "glow" {
 0% {
   text-shadow: 3px 1px 23px #ffffff;
 }
 50% {
   text-shadow: 3px 1px 23px rgba(255,0,0,0.74);
 }
 100% {
   text-shadow: 3px 1px 23px #ff0000;
 }

}

@-o-keyframes "glow" {
 0% {
   text-shadow: 3px 1px 23px #ffffff;
 }
 50% {
   text-shadow: 3px 1px 23px rgba(255,0,0,0.74);
 }
 100% {
   text-shadow: 3px 1px 23px #ff0000;
 }

}

.modal-open .modal,.btn:focus{
    outline:none!important;
}​

.help-inline .error-message{
	font-weight: bold !important;
}

.fileinput-button {
  position: relative;
  overflow: hidden;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: translate(-300px, 0) scale(4);
  font-size: 23px;
  direction: ltr;
  cursor: pointer;
}
.fileupload-buttonbar .btn,
.fileupload-buttonbar .toggle {
  margin-bottom: 5px;
}
.progress-animated .progress-bar,
.progress-animated .bar {
  background: url(../img/progressbar.gif) !important;
  filter: none;
}
.fileupload-loading {
  float: right;
  width: 32px;
  height: 32px;
  background: url(../img/loading.gif) center no-repeat;
  background-size: contain;
  display: none;
}
.fileupload-processing .fileupload-loading {
  display: block;
}
.files audio,
.files video {
  max-width: 300px;
}

@media (max-width: 767px) {
  .fileupload-buttonbar .toggle,
  .files .toggle,
  .files .btn span {
    display: none;
  }
  .files .name {
    width: 80px;
    word-wrap: break-word;
  }
  .files audio,
  .files video {
    max-width: 80px;
  }
}