/* Style pour les titres de pages */
.page-title{
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#cacaca;
	margin-bottom : 25px;
	font-family: 'Titillium Web', sans-serif;
	font-size: 0.8em;
}

/* Style pour positionner les boutons Call to action des titres de modules */
.ontitle{
	float:right;
	position: relative;
	top: -14px;
	margin-left:10px;
}

/* Surcharge de la classe success pour afficher en gras le texte des boutons */
a.btn-success {
	font-weight:bold;
}

.flash {
	text-shadow: 3px 1px 23px #ff0000;

	-webkit-animation-name: glow;
	-moz-animation-name: glow;
	-ms-animation-name: glow;
	-o-animation-name: glow;
	animation-name: glow;
	-webkit-animation-duration: 1100ms;

	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-ms-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
	animation-iteration-count: infinite;

	-webkit-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
	-ms-animation-timing-function: linear;
	-o-animation-timing-function: linear;
	animation-timing-function: linear;
}

@keyframes "glow" {
 0% {
    text-shadow: 3px 1px 23px #ffffff;
 }
 50% {
    text-shadow: 3px 1px 23px rgba(255,0,0,0.74);
 }
 100% {
    text-shadow: 3px 1px 23px #ff0000;
 }

}

@-moz-keyframes glow {
 0% {
   text-shadow: 3px 1px 23px #ffffff;
 }
 50% {
   text-shadow: 3px 1px 23px rgba(255,0,0,0.74);
 }
 100% {
   text-shadow: 3px 1px 23px #ff0000;
 }

}

@-webkit-keyframes "glow" {
 0% {
   text-shadow: 3px 1px 23px #ffffff;
 }
 50% {
   text-shadow: 3px 1px 23px rgba(255,0,0,0.74);
 }
 100% {
   text-shadow: 3px 1px 23px #ff0000;
 }

}

@-ms-keyframes "glow" {
 0% {
   text-shadow: 3px 1px 23px #ffffff;
 }
 50% {
   text-shadow: 3px 1px 23px rgba(255,0,0,0.74);
 }
 100% {
   text-shadow: 3px 1px 23px #ff0000;
 }

}

@-o-keyframes "glow" {
 0% {
   text-shadow: 3px 1px 23px #ffffff;
 }
 50% {
   text-shadow: 3px 1px 23px rgba(255,0,0,0.74);
 }
 100% {
   text-shadow: 3px 1px 23px #ff0000;
 }

}
