* {
	margin:0;
	padding:0;
}

/** General Style Info **/
body {
	font-family:'lucida grande',verdana,helvetica,arial,sans-serif;
	font-size:90%;
	margin: 0;
        background-color: #F9F9F9;
}

#authMessage
{
    margin-bottom: 10px;
}

h1 {
	font-weight: normal;
	margin-bottom:0.5em;
        background:#fff;
	color: #003d4c;
	font-size: 280%;

}

/** Layout **/
#container {
	text-align: left;
}

#logo
{
    background-image: url("../img/logo.png");
    height:50px;
    background-repeat: no-repeat;
    padding: 0px 60px;
    margin: 10px 5px 20px;
}

#content{
        margin-top:100px;
	width:300px;
        margin-left:auto;
        margin-right:auto;
        margin-bottom:30px;
        background: #fff;
	clear: both;
	color: #333;
	padding: 10px 20px 20px 20px;
	overflow: auto;
        box-shadow: 1px 1px 12px #555; 
        -moz-box-shadow: 1px 1px 12px #555; 
        -webkit-box-shadow: 1px 1px 12px #555; 
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
}

/** Tables **/
.cake-sql-log table {
	background: #f4f4f4;
}
.cake-sql-log td {
	padding: 4px 8px;
	text-align: left;
	font-family: Monaco, Consolas, "Courier New", monospaced;
}

/** Forms **/
label {
	display: block;
	font-size: 100%;
	margin-bottom:3px;
        color: #777777;
        font: 13px "Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;
        text-align: left;
}
input{
	clear: both;
	font-size: 140%;
        padding: 2px;
	width:98%;
        color: #555555;
}

.input
{
    margin-bottom:10px;
}

/* -> Action Button */


form .submit input[type=submit] {
    display: inline-block;
    padding: 0 14px;
    border: 1px solid #ccc;
    background: #ececec url(../img/action_button-bg.png) center repeat-x;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    color: #2e3436;
    text-shadow: 0 1px 0 #fff;
    text-decoration: none;
    line-height: 1.8;
    -webkit-transition: background-position 100ms linear;
    -moz-transition: background-position 100ms linear;
    transition: background-position 100ms linear;
    -moz-box-shadow: inset 0 1px 0 #fff;
    -webkit-box-shadow: inset 0 1px 0 #fff;
    outline: none;
    font-family: Cantarell;
    height:25px;
    font-size: 14px;
    width:40%;
    margin-top:10px;
}
form .submit input[type=submit]:hover {
    background-position: top;
    color: #000;
}
form .submit input[type=submit]:visited {
    color: inherit;
}
form .submit input[type=submit]:active {
    -moz-box-shadow: inset 0 2px 3px rgba(0,0,0,0.4);
    -webkit-box-shadow: inset 0 2px 3px rgba(0,0,0,0.4);
    box-shadow: inset 0 2px 3px rgba(0,0,0,0.4);
    background-position: bottom;
    outline: none;
}

form .submit {
text-align: right;
outline: none;
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}

